<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Django Girls</title>
</head>
<body>
    <div>
        <h1><a href = "#"> Blog Django Girls </a></h1>
    </div>
    <div>
        <P> Publicado: 05/11/2022, 13:50</P>
        <h2><a href = "#"> Primeiro Post </a></h2>
        <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto asperiores esse velit praesentium molestias culpa doloremque quisquam incidunt cumque facere, eligendi dolores iste maiores vero amet placeat, in magni. Eius.</P>
    </div>

    <div>
        <P>publicado: 05/11/2022, 13:51</P>
        <h2><a href="#"> Segundo Post </a></h2>
        <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, impedit vitae dolorem sint, corporis enim soluta voluptas corrupti animi pariatur repudiandae! A dicta id totam tenetur? Perspiciatis iste eum nulla!</P>
    </div>
</body>
</html>