@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

h1 a, h2 a {
    color: #d773ebc4;
    font-weight: 700;
     
}

body {
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    margin-top: 25px;
    margin-left: 25px;
    
    
}

p {
    font-weight: 400;

}